.button1{
    border:2px solid blue;
    background-color: blue;
    margin:5px;
    color:white;
}
.field1{
    width:230px;
    margin:10px;
    height:40px;
    font-size:40px;
    
    
}
.container{
    border:2px solid red;
    background-color: blueviolet;
}
.button3{
    width:110px;
}
.button2{
    width:25px;
}
